.div1{
    background-color: red;
}

.div2{
    background-color: yellow;
}

.div3{
    background-color: aquamarine;
}

.btn{
    background-color: goldenrod;
    color: aquamarine;
    padding: 10px;
    
}